.shop {
    padding: 70px 0 40px 0;
}

.shop__girl {
    display: block;
    margin: 0 auto;
    width: 320px;
    height: 300px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
}

.shop__point {
    margin-top: 16px;
}

.shop__point:first-child {
    margin-top: 26px;
}

.shop__point span {
    font-weight: bold;
} 

.shop__point__price {
    font-size: 24px;
    font-weight: normal !important;
}